.enter {
    font-family: "Golos UI"; 
    font-weight: 700; 
    font-size: 140px;
    line-height: 180px;
    color: #222222;
    letter-spacing: -1.5px;
}

.loginformcomments {
    display: block;
    font: 400 13px/1.23 "Golos UI", sans-serif;
    color: #808080;
    margin-bottom: 16px; 
}