* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 69.583%;
}

.media {
  height: 42vw;
  width: 55%;
  position: relative;
}

.title {
  font-family: "Golos UI", sans-serif; 
  font-weight: 700; 
  font-size: 140px;
  line-height: 180px;
  color: #222222;
  letter-spacing: -1.5px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.hello-picture {
  width: 83.7%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.auth {
  font-family: "Golos UI", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  letter-spacing: -0.15px; 
  margin-bottom: 5px;
}

.auth__field {
  display: block;
  width: 343px;
  box-sizing: border-box;
  margin-bottom: 5px; 
  font-family: "Golos UI", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  padding: 13px 12px; 
  background-color: #F2F3F5;
  border: 1px solid #F2F3F5;
  border-radius: 10px;
  transition: border 0.3s ease;
  outline: none;
}

.auth__field:focus{
  border: 1px solid #3F8AE0;
}

.auth__field-error {
  border: 1px solid #E64646;
}

.error-message {
  background-color: #FFECEC;
  border-radius: 10px;
  width: 343px;
  height: 42px;
  margin-bottom: 16px;
  padding: 12px;
}

.error-message--hidden {
  visibility: hidden;
}

.auth__send-button {
  display: block;
  margin-top: 32px;
  width: 343px; 
  font-family: "Golos UI", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #222222;
  padding: 14.5px; 
  border-radius: 10px;
  border: 2px solid #222222;
  transition: border 0.3s ease;
}

.auth__send-button:focus {
  border: 2px solid #3F8AE0;
}

.auth__send-button:disabled {
  background-color: #B4B4B4;
  border: 2px solid #B4B4B4;
}

.auth__hide-password {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.auth__comments {
  display: block;
  font-family: "Golos UI", sans-serif;
  font-size: 14px;
  line-height: 1.23;
  color: #808080;
  margin-bottom: 16px; 
}

.input-field {
  position: relative;
}