.iconmedium {
    height: 24px;
    width: 24px;
}

.reactionsheart {
    width: 16px;
    height: 18px;
}

.hellophoto {
    width: 462px;
    height: 501px;
}

.profilephoto {
    width: 123px;
    height: 123px;
    border-radius: 16px;
}