* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-of-page {
  height: 73px;
}

.content {
  width: 972px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.menu {
  width: 72px;
  height: 100%;
  position: fixed;
  padding: 24px 16px;
  border-right: 1px solid #2222220D;
}

.menu__icon {
  margin-top: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 361px;
  letter-spacing: -0.15px;
}

.user-info__photo {
  display: block;
  width: 123px;
  height: 123px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.user-info__name {
  font-family: "Golos UI", sans-serif; 
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #222222;
  margin-bottom: 10px;
}

.user-info__status {
  font-family: "Golos UI", sans-serif; 
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  text-align: center;
  margin-bottom: 12px;
}

.profile-statistic {
  display: flex;
  align-items: center;
  background-color: #F2F3F5;
  width: max-content;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 42px;
}

.profile-statistic__info {
  font-family: "Golos UI", sans-serif;
  font-size: 15px;
  color: #222222; 
  line-height: 1.2;
}

.profile-statistic__picture {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.user-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-posts__post {
  height: 322px; 
  width: 322px; 
  border-radius: 2px;
  margin-bottom: 2px;
}* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-top {
  height: 73px;
}

.content {
  width: 972px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.menu {
  width: 72px;
  height: 100%;
  position: fixed;
  padding: 24px 16px;
  border-right: 1px solid #2222220D;
}

.menu__icon {
  margin-top: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 361px;
  letter-spacing: -0.15px;
}

.user-info__photo {
  display: block;
  width: 123px;
  height: 123px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.user-info__name {
  font-family: "Golos UI", sans-serif; 
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #222222;
  margin-bottom: 10px;
}

.user-info__status {
  font-family: "Golos UI", sans-serif; 
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  text-align: center;
  margin-bottom: 12px;
}

.profile-statistic {
  display: flex;
  align-items: center;
  background-color: #F2F3F5;
  width: max-content;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 42px;
}

.profile-statistic__info {
  font-family: "Golos UI", sans-serif;
  font-size: 15px;
  color: #222222; 
  line-height: 1.2;
}

.profile-statistic__picture {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.user-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-posts__post {
  height: 322px; 
  width: 322px; 
  border-radius: 2px;
  margin-bottom: 2px;
}

.no-scroll {
  overflow: hidden !important;
  height: 100% !important;
}