* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  height: 73px;
}

.page__menu {
  width: 72px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #2222220D;
  z-index: 1;
}

.page__menu__icon {
  display: block;
  padding: 8px;
  margin-inline: 16px;
  margin-top: 16px;
}

.page__menu__icon--active {
  display: block;
  margin-inline: 16px;
  margin-top: 56px;
}

.post {
  width: 474px;
  padding-top: 16px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.post__author-ava {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin-right: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  font-family: "Golos UI", sans-serif;
  font-weight: 500;
  font-size: 14px; 
  line-height: 1.28;
  color: #222222;
  margin-top: 16px;
}

.post__edit-icon {
  margin-left: auto;
  height: 32px;
  width: 32px;
}

.post__picture {
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  height: auto;
}

.post__reactions {
  display: flex;
  gap: 3px;
  align-items: center;
  width: fit-content; 
  font-family: "Golos UI", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  padding: 6px 12px; 
  border-radius: 8px; 
  background: #2222220D;
  margin-top: 16px;
}

.post__description {
  font-family: "Golos UI", sans-serif; 
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  margin-top: 16px;
}

.post__when-posted {  
  font-family: "Golos UI", sans-serif; 
  font-size: 14px;
  line-height: 18px;
  color: #808080;
  margin-top: 25px;
}