* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-of-page {
  height: 73px;
}

.menu {
  width: 72px;
  height: 100%;
  position: fixed;
  padding: 24px 16px;
  border-right: 1px solid #2222220D;
}

.menu__icon {
  margin-top: 16px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 474px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.header__author-ava {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Golos UI", sans-serif;
  font-weight: 500;
  font-size: 14px; 
  line-height: 1.28;
  color: #222222;
  margin-top: 16px;
}

.header__user-info {
  display: flex;
  align-items: center;
}

.header__edit-icon {
  height: 32px;
  width: 32px;
}

.post__picture {
  margin-top: 16px;
}

.post__reactions {
  display: flex;
  gap: 3px;
  align-items: center;
  width: fit-content; 
  font-family: "Golos UI", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  padding: 6px 12px; 
  border-radius: 8px; 
  background: #2222220D;
  margin-top: 16px;
}

.post__description {
  font-family: "Golos UI", sans-serif; 
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  margin-top: 16px;
}

.post__when-posted {  
  font-family: "Golos UI", sans-serif; 
  font-size: 14px;
  line-height: 18px;
  color: #808080;
  margin-top: 25px;
}

.describe-switch {
  width: fit-content;
  background: none;
  border: none;
  font-family: "Golos UI", sans-serif;
  color: #808080;
  font-size: 15px;
  line-height: 1.2;
}