body {
    position: relative;
}

.all-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-block {
    position: relative;
    width: 474px;
    height: 474px;
    margin-top: 16px;
}

.posts {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.post-picture {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.content-block__counter {
    position: absolute;
    top: 4.22%;
    left: 87.343%;
    width: 44px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Golos UI", sans-serif; 
    font-size: 15px;
    line-height: 1.2;
    color: #FFFFFF;
    background-color: #22222280;
    border-radius: 20px;
}

.picture--modal {
    margin-bottom: 4%;
}

.content-block__media {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.left-arrow {
    position: absolute;
    left: 3.376%;
    height: 20px;
    width: 20px;
}

.right-arrow {
    position: absolute;
    right: 3.376%;
    height: 20px;
    width: 20px;
}

.visiable {
    display: block;
}
